/* Styles for Taco recipe page */

* {
    background-color: green;
    font-family:Arial, Helvetica, sans-serif;
}

/* element selectors */
h2 {
    color: white;
    font-size: 35px;
    font-weight: 200;
    background-color: red;
}

p,
ul,
ol {
    font-size: 20px;
}

/* class selectors */
.recipe-title {
    color: white;
    text-align: center;
    font-size: 60px;
}


