/* Styles for Taco recipe page */

* {
    background-color: green;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    font-size: 35px;
    font-weight: 200;
}

.recipe-title {
    color: white;
    text-align: center;
    font-size: 60px;
}

.description-title {
    color:
}
