/* Styles for Taco recipe page */

* {
    background-color: green;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 200;
}

.recipe-title {
    color: white;
    text-align: center;
    font-size: 60px;
}
