/* CSS for index.html */

* {
    font-family: sans-serif;
}

h1 {
    font-size: 75px;
    text-align: center;
}

a {
    text-decoration: none;
    margin-right: 50px;
}

.link-container {
    text-align: center;
}