/* CSS for index.html */

* {
    background-color: black;
    font-family: sans-serif;
}

h1 {
    color: White;
    font-size: 75px;
    text-align: center;
}

a {
    color: yellow;
    font-size: 25px;
    text-decoration: none;
    margin-right: 50px;
}

.link-container {
    text-align: center;
}